*{
    box-sizing: border-box;
}

@font-face {
    font-family: "Groundnut";
    src: url(./Groundnut-yxPm.ttf);
}

@font-face {
    font-family: "Averia Serif Libre";
    src: url(./AveriaSerifLibre-Regular.ttf);
    font-weight: 300 400;
}


html {
    --cream: #FFFDCE;
    --brown: #473120;
}

button {
    background: transparent;
    border: none;
}

body {
    background-color: var(--cream);
    color: var(--brown);
    margin: 20px;
}

.picgrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;    
    width: 1200px; 
    height: 480px; 
}


.picgrid img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
    display: block;
    overflow: hidden;
}


.title h2 {
    font-family: "Averia Serif Libre";
    font-size: 36px;
}

.title h3 {
    font-family: "Groundnut";
}


.submit {
    font-family: "Averia Serif Libre";
    border-radius: 20px;
    background-color: var(--brown);
    color: var(--cream);
    margin-left: 10px;
    font-size: 20px;
}

button:hover {
    opacity: 50%;
}

.calendar {
    font-family: "Averia Serif Libre";
    background-color: var(--cream);
    border: var(--brown);
    color: var(--brown);
    border-radius: 20px;
    font-weight: 400;
    font-size:20px; 
}

.title {
    margin-left: 300px;
    margin-top: 40px;
    align-items: center;
}

.help img{
    width: 70px;
    height: 70px;
    margin-left: 20px;
}

/*faq overlay*/
.faqpopup h2 {
    font-family: "Averia Serif Libre";
    text-transform: uppercase;
    color: var(--cream);
}

.faqpopup p {
    font-family: "Groundnut";
    text-transform: uppercase;
    color: var(--cream);
}

.overlayfaq {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none; 
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.faqpopup {
    background-color: var(--brown);
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

/*zodiac overlay*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background-color: var(--brown);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.popup img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.popup h2 {
    font-family: "Averia Serif Libre";
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--cream);
    text-transform: uppercase
}

.popup p {
   color: var(--cream);
    font-family: "Groundnut";
    font-size: 16px;
    text-transform: uppercase;
}

.popup button {
    cursor: pointer;
    margin-top: 20px;
}

.zodiac-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 2px solid #473120;
    border-radius: 20px;
    width: 300px;
    margin: 20px auto;
    text-align: center;
    background-color:var(--cream);
}

#zodiac-name {
    text-transform: uppercase;
    font-family: "Groundnut";
    font-size: 32px;
    color: var(--cream);
}

#zodiac-description {
    font-family: 'Averia Serif Libre';
    font-size: 24px;
    color: var(--cream);
}

.zodiac-container img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

